<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="TinyccEditorAdvisorApplication">
      <!-- @generated tinycc -->
      <application>
         <run class="tinycc.presentation.TinyccEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated tinycc -->
      <perspective
            name="%_UI_Perspective_label"
            class="tinycc.presentation.TinyccEditorAdvisor$Perspective"
            id="tinycc.presentation.TinyccEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated tinycc -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="tinycc.presentation.TinyccEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="tinycc.presentation.TinyccEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated tinycc -->
      <key
            commandId="tinycc.presentation.TinyccEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="tinycc.presentation.TinyccEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated tinycc -->
      <actionSet
            label="%_UI_TinyccEditorAdvisor_ActionSet_label"
            visible="true"
            id="TinyccEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="tinycc.presentation.TinyccEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="tinycc.presentation.TinyccEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="tinycc.presentation.TinyccEditorAdvisorOpenURICommand"
               class="tinycc.presentation.TinyccEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="tinycc.presentation.TinyccEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="tinycc.presentation.TinyccEditorAdvisorOpenCommand"
               class="tinycc.presentation.TinyccEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="tinycc.presentation.TinyccEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated tinycc -->
      <actionSet
            label="%_UI_TinyccModelWizard_ActionSet_label"
            visible="true"
            id="tinycc.presentation.TinyccActionBarContributorActionSet">
         <action
               label="%_UI_TinyccModelWizard_label"
               class="tinycc.presentation.TinyccActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="tinycc.presentation.TinyccActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tinycc -->
      <editor
            id="tinycc.presentation.TinyccEditorID"
            name="%_UI_TinyccEditor_label"
            icon="icons/full/obj16/TinyccModelFile.gif"
            extensions="tinycc"
            class="tinycc.presentation.TinyccEditor"
            contributorClass="tinycc.presentation.TinyccActionBarContributor">
      </editor>
   </extension>

</plugin>
